{{- if .Values.webhook.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hcs.webhook.serviceName" . }}
  namespace: {{ include "hcs.namespace" . }}
  labels:
    {{- include "hcs.webhook.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 443
      targetPort: https
      protocol: TCP
    {{- if .Values.serviceMonitor.enabled }}
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
    {{- end }}
  selector:
    {{- include "hcs.webhook.selectorLabels" . | nindent 4 }}
{{- end }}
